body {
 font-family: "微软雅黑", Arial, sans-serif;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.footer {
  border-top: 1px solid #e5e5e5;
  color: #777777;
  margin-top: 30px;
  padding-top: 19px;
}

/*
 * Fancybox nav arrorws permanent
 */
.fancybox-nav span {
  visibility: visible;
}


/*58*/
dl.secitem {
  line-height: 18px;
}
.secitem_fist {
  padding: 10px 20px;
  background: #FAFAFA;
  margin-top: 0;
  border-bottom: solid 1px #F3F3F3;
}
.secitem .select, .search_nav span.select {
  color: #FF552E;
}.secitem dd a, .secitem dd span {
   color: #333;
   font-size: 12px;
   margin-right: 17px;
 }
.secitem dt {
  margin-right: 12px;
}
.secitem dt, .barct span {
  color: #888;
  width: 36px;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  float: left;
}
