<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwqb.tenant.core.dao.mysql.RoomDao">
  <resultMap id="BaseResultMap" type="com.dwqb.tenant.core.model.Room">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="room_origin" jdbcType="VARCHAR" property="roomOrigin" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="priceType" jdbcType="VARCHAR" property="pricetype" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="space" jdbcType="DOUBLE" property="space" />
    <result column="dirction" jdbcType="VARCHAR" property="dirction" />
    <result column="struct" jdbcType="VARCHAR" property="struct" />
    <result column="roomType" jdbcType="VARCHAR" property="roomtype" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
  </resultMap>
  <sql id="Base_Column_List">
    id, room_origin, url, name, price, longitude, latitude, region, priceType, status,
    space, dirction, struct, roomType, floor
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ROOM
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ROOM
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dwqb.tenant.core.model.Room">
    insert into ROOM (id, room_origin, url,
    name, price, longitude,
    latitude, region, priceType,
    status, space, dirction,
    struct, roomType, floor
    )
    values (#{id,jdbcType=INTEGER}, #{roomOrigin,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{longitude,jdbcType=DOUBLE},
    #{latitude,jdbcType=DOUBLE}, #{region,jdbcType=VARCHAR}, #{pricetype,jdbcType=VARCHAR},
    #{status,jdbcType=VARCHAR}, #{space,jdbcType=DOUBLE}, #{dirction,jdbcType=VARCHAR},
    #{struct,jdbcType=VARCHAR}, #{roomtype,jdbcType=VARCHAR}, #{floor,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.dwqb.tenant.core.model.Room">
    insert into ROOM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomOrigin != null">
        room_origin,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="pricetype != null">
        priceType,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="space != null">
        space,
      </if>
      <if test="dirction != null">
        dirction,
      </if>
      <if test="struct != null">
        struct,
      </if>
      <if test="roomtype != null">
        roomType,
      </if>
      <if test="floor != null">
        floor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomOrigin != null">
        #{roomOrigin,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="pricetype != null">
        #{pricetype,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="space != null">
        #{space,jdbcType=DOUBLE},
      </if>
      <if test="dirction != null">
        #{dirction,jdbcType=VARCHAR},
      </if>
      <if test="struct != null">
        #{struct,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null">
        #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dwqb.tenant.core.model.Room">
    update ROOM
    <set>
      <if test="roomOrigin != null">
        room_origin = #{roomOrigin,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="pricetype != null">
        priceType = #{pricetype,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="space != null">
        space = #{space,jdbcType=DOUBLE},
      </if>
      <if test="dirction != null">
        dirction = #{dirction,jdbcType=VARCHAR},
      </if>
      <if test="struct != null">
        struct = #{struct,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null">
        roomType = #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dwqb.tenant.core.model.Room">
    update ROOM
    set room_origin = #{roomOrigin,jdbcType=VARCHAR},
    url = #{url,jdbcType=VARCHAR},
    name = #{name,jdbcType=VARCHAR},
    price = #{price,jdbcType=DOUBLE},
    longitude = #{longitude,jdbcType=DOUBLE},
    latitude = #{latitude,jdbcType=DOUBLE},
    region = #{region,jdbcType=VARCHAR},
    priceType = #{pricetype,jdbcType=VARCHAR},
    status = #{status,jdbcType=VARCHAR},
    space = #{space,jdbcType=DOUBLE},
    dirction = #{dirction,jdbcType=VARCHAR},
    struct = #{struct,jdbcType=VARCHAR},
    roomType = #{roomtype,jdbcType=VARCHAR},
    floor = #{floor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dwqb.tenant.core.model.Room">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="room_origin" jdbcType="VARCHAR" property="roomOrigin" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="priceType" jdbcType="VARCHAR" property="pricetype" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="space" jdbcType="DECIMAL" property="space" />
    <result column="dirction" jdbcType="VARCHAR" property="dirction" />
    <result column="struct" jdbcType="VARCHAR" property="struct" />
    <result column="roomType" jdbcType="VARCHAR" property="roomtype" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dwqb.tenant.core.model.Room">
    <result column="url" jdbcType="LONGVARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, room_origin, name, price, longitude, latitude, region, priceType, status, space,
    dirction, struct, roomType, floor
  </sql>
  <sql id="Blob_Column_List">
    url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ROOM
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ROOM
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lsh123.model.Room">
    insert into ROOM (id, room_origin, name,
    price, longitude, latitude,
    region, priceType, status,
    space, dirction, struct,
    roomType, floor, url
    )
    values (#{id,jdbcType=INTEGER}, #{roomOrigin,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
    #{price,jdbcType=DOUBLE}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE},
    #{region,jdbcType=VARCHAR}, #{pricetype,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
    #{space,jdbcType=DECIMAL}, #{dirction,jdbcType=VARCHAR}, #{struct,jdbcType=VARCHAR},
    #{roomtype,jdbcType=VARCHAR}, #{floor,jdbcType=VARCHAR}, #{url,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.dwqb.tenant.core.model.Room">
    insert into ROOM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomOrigin != null">
        room_origin,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="pricetype != null">
        priceType,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="space != null">
        space,
      </if>
      <if test="dirction != null">
        dirction,
      </if>
      <if test="struct != null">
        struct,
      </if>
      <if test="roomtype != null">
        roomType,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomOrigin != null">
        #{roomOrigin,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="pricetype != null">
        #{pricetype,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="space != null">
        #{space,jdbcType=DECIMAL},
      </if>
      <if test="dirction != null">
        #{dirction,jdbcType=VARCHAR},
      </if>
      <if test="struct != null">
        #{struct,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null">
        #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dwqb.tenant.core.model.Room">
    update ROOM
    <set>
      <if test="roomOrigin != null">
        room_origin = #{roomOrigin,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="pricetype != null">
        priceType = #{pricetype,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="space != null">
        space = #{space,jdbcType=DECIMAL},
      </if>
      <if test="dirction != null">
        dirction = #{dirction,jdbcType=VARCHAR},
      </if>
      <if test="struct != null">
        struct = #{struct,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null">
        roomType = #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dwqb.tenant.core.model.Room">
    update ROOM
    set room_origin = #{roomOrigin,jdbcType=VARCHAR},
    name = #{name,jdbcType=VARCHAR},
    price = #{price,jdbcType=DOUBLE},
    longitude = #{longitude,jdbcType=DOUBLE},
    latitude = #{latitude,jdbcType=DOUBLE},
    region = #{region,jdbcType=VARCHAR},
    priceType = #{pricetype,jdbcType=VARCHAR},
    status = #{status,jdbcType=VARCHAR},
    space = #{space,jdbcType=DECIMAL},
    dirction = #{dirction,jdbcType=VARCHAR},
    struct = #{struct,jdbcType=VARCHAR},
    roomType = #{roomtype,jdbcType=VARCHAR},
    floor = #{floor,jdbcType=VARCHAR},
    url = #{url,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dwqb.tenant.core.model.Room">
    update ROOM
    set room_origin = #{roomOrigin,jdbcType=VARCHAR},
    name = #{name,jdbcType=VARCHAR},
    price = #{price,jdbcType=DOUBLE},
    longitude = #{longitude,jdbcType=DOUBLE},
    latitude = #{latitude,jdbcType=DOUBLE},
    region = #{region,jdbcType=VARCHAR},
    priceType = #{pricetype,jdbcType=VARCHAR},
    status = #{status,jdbcType=VARCHAR},
    space = #{space,jdbcType=DECIMAL},
    dirction = #{dirction,jdbcType=VARCHAR},
    struct = #{struct,jdbcType=VARCHAR},
    roomType = #{roomtype,jdbcType=VARCHAR},
    floor = #{floor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dwqb.tenant.core.model.Room">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="room_origin" jdbcType="VARCHAR" property="roomOrigin" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="priceType" jdbcType="VARCHAR" property="pricetype" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="space" jdbcType="DECIMAL" property="space" />
    <result column="dirction" jdbcType="VARCHAR" property="dirction" />
    <result column="struct" jdbcType="VARCHAR" property="struct" />
    <result column="roomType" jdbcType="VARCHAR" property="roomtype" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dwqb.tenant.core.model.Room">
    <result column="url" jdbcType="LONGVARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, room_origin, name, price, longitude, latitude, region, priceType, status, space,
    dirction, struct, roomType, floor
  </sql>
  <sql id="Blob_Column_List">
    url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ROOM
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ROOM
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dwqb.tenant.core.model.Room">
    insert into ROOM (id, room_origin, name,
    price, longitude, latitude,
    region, priceType, status,
    space, dirction, struct,
    roomType, floor, url
    )
    values (#{id,jdbcType=INTEGER}, #{roomOrigin,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
    #{price,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL},
    #{region,jdbcType=VARCHAR}, #{pricetype,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
    #{space,jdbcType=DECIMAL}, #{dirction,jdbcType=VARCHAR}, #{struct,jdbcType=VARCHAR},
    #{roomtype,jdbcType=VARCHAR}, #{floor,jdbcType=VARCHAR}, #{url,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.dwqb.tenant.core.model.Room">
    insert into ROOM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomOrigin != null">
        room_origin,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="pricetype != null">
        priceType,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="space != null">
        space,
      </if>
      <if test="dirction != null">
        dirction,
      </if>
      <if test="struct != null">
        struct,
      </if>
      <if test="roomtype != null">
        roomType,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomOrigin != null">
        #{roomOrigin,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="pricetype != null">
        #{pricetype,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="space != null">
        #{space,jdbcType=DECIMAL},
      </if>
      <if test="dirction != null">
        #{dirction,jdbcType=VARCHAR},
      </if>
      <if test="struct != null">
        #{struct,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null">
        #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dwqb.tenant.core.model.Room">
    update ROOM
    <set>
      <if test="roomOrigin != null">
        room_origin = #{roomOrigin,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="pricetype != null">
        priceType = #{pricetype,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="space != null">
        space = #{space,jdbcType=DECIMAL},
      </if>
      <if test="dirction != null">
        dirction = #{dirction,jdbcType=VARCHAR},
      </if>
      <if test="struct != null">
        struct = #{struct,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null">
        roomType = #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dwqb.tenant.core.model.Room">
    update ROOM
    set room_origin = #{roomOrigin,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      region = #{region,jdbcType=VARCHAR},
      priceType = #{pricetype,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      space = #{space,jdbcType=DECIMAL},
      dirction = #{dirction,jdbcType=VARCHAR},
      struct = #{struct,jdbcType=VARCHAR},
      roomType = #{roomtype,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      url = #{url,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dwqb.tenant.core.model.Room">
    update ROOM
    set room_origin = #{roomOrigin,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      region = #{region,jdbcType=VARCHAR},
      priceType = #{pricetype,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      space = #{space,jdbcType=DECIMAL},
      dirction = #{dirction,jdbcType=VARCHAR},
      struct = #{struct,jdbcType=VARCHAR},
      roomType = #{roomtype,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>