<div class="row">

    <div id="main" style="height: 600%"></div>

    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        var option =
        {
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data:['一居室','二居室','三居室']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : ['海淀区','西城区','东城区']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'一居室',
                    type:'bar',
                    data:[320, 332, 301]
                },
                {
                    name:'二居室',
                    type:'bar',
//                    stack: '广告',
                    data:[120, 132, 101]
                },
                {
                    name:'三居室',
                    type:'bar',
//                    stack: '广告',
                    data:[220, 182, 191]
                }
            ]
        };
        myChart.setOption(option);
    </script>
</div>