<div class="search_db">
    <dl class="secitem secitem_fist">
        <dd>
            <a href="/zufang/?pagetype=area" class="select" onclick="clickLog('from=fcpc_list_bj_quyu_buxian')">不限</a>
            <a href="/chaoyang/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_chaoyang')">朝阳</a>
            <a href="/haidian/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_haidian')">海淀</a>
            <a href="/dongcheng/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_dongcheng')">东城</a>
            <a href="/xicheng/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_xicheng')">西城</a>
            <a href="/chongwen/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_chongwen')">崇文</a>
            <a href="/xuanwu/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_xuanwu')">宣武</a>
            <a href="/fengtai/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_fengtai')">丰台</a>
            <a href="/tongzhouqu/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_tongzhouqu')">通州</a>
            <a href="/shijingshan/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_shijingshan')">石景山</a>
            <a href="/fangshan/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_fangshan')">房山</a>
            <a href="/changping/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_changping')">昌平</a>
            <a href="/daxing/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_daxing')">大兴</a>
            <a href="/shunyi/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_shunyi')">顺义</a>
            <a href="/miyun/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_miyun')">密云</a>
            <a href="/huairou/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_huairou')">怀柔</a>
            <a href="/yanqing/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_yanqing')">延庆</a>
            <a href="/pinggu/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_pinggu')">平谷</a>
            <a href="/mentougou/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_mentougou')">门头沟</a>
            <a href="/bjyanjiao/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_bjyanjiao')">燕郊</a>
            <a href="/beijingzhoubian/zufang/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_quyu_beijingzhoubian')">北京周边</a>
        </dd>
    </dl>

    <dl id="secitem-rent" class="secitem">
        <dt class="fl">租金：</dt>
        <dd>
            <a href="/zufang/?pagetype=area" class="select" onclick="clickLog('from=fcpc_list_bj_Zujin_')">不限</a>
            <a href="/zufang/b8/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Zujin_0_600')">600元以下</a>
            <a href="/zufang/b9/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Zujin_600_1000')">600-1000元</a>
            <a href="/zufang/b10/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Zujin_1000_1500')">1000-1500元</a>
            <a href="/zufang/b11/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Zujin_1500_2000')">1500-2000元</a>
            <a href="/zufang/b12/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Zujin_2000_3000')">2000-3000元</a>
            <a href="/zufang/b13/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Zujin_3000_5000')">3000-5000元</a>
            <a href="/zufang/b14/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Zujin_5000_8000')">5000-8000元</a>
            <a href="/zufang/b15/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Zujin_8000_9999999')">8000元以上</a>
        </dd>
    </dl>

    <dl class="secitem">
        <dt>厅室：</dt>
        <dd id="secitem-room">
            <a rel="nofollow" href="/zufang/?pagetype=area" class="select" onclick="clickLog('from=fcpc_list_bj_Tingshi_')">不限</a>
            <a rel="nofollow" href="/zufang/j1/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Tingshi_j1')">一室</a>
            <a rel="nofollow" href="/zufang/j2/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Tingshi_j2')">两室</a>
            <a rel="nofollow" href="/zufang/j3/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Tingshi_j3')">三室</a>
            <a rel="nofollow" href="/zufang/j4/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Tingshi_j4')">四室</a>
            <a rel="nofollow" href="/zufang/j5/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Tingshi_j5')">四室以上</a>
        </dd>
    </dl>

    <dl class="secitem">
        <dt>方式：</dt>
        <dd id="secitem-type">
            <a rel="nofollow" href="/chuzu/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Fangshi_')">不限</a>
            <a rel="nofollow" href="/zufang/?pagetype=area" class="select" onclick="clickLog('from=fcpc_list_bj_Fangshi_zhengzu')">整套出租</a>
            <a rel="nofollow" href="/hezu/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Fangshi_danjian')">单间出租</a>
            <a rel="nofollow" href="/hezu/g2/?pagetype=area" onclick="clickLog('from=fcpc_list_bj_Fangshi_chuangwei')">床位出租</a>
        </dd>
    </dl>

    <dl class="secitem">
        <dt>品牌：</dt>
        <dd id="secitem-brand">
            <a href="/zufang/?pagetype=area" class="select" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_')">不限</a>
            <a href="/zufang/?pagetype=area&amp;qiyeid=14996579762176" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_14996579762176')">我爱我家</a>
            <a href="/zufang/?pagetype=area&amp;qiyeid=15049529028608" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_15049529028608')">中天置地</a>
            <a href="/zufang/?pagetype=area&amp;qiyeid=14993980863616" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_14993980863616')">麦田房产</a>
            <a href="/zufang/?pagetype=area&amp;qiyeid=15126356204032" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_15126356204032')">兴达置业</a>
            <a href="/zufang/?pagetype=area&amp;qiyeid=15049546876672" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_15049546876672')">21世纪不动产</a>
            <a href="/zufang/?pagetype=area&amp;qiyeid=15049600598912" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_15049600598912')">中原地产</a>
            <a href="/zufang/?pagetype=area&amp;qiyeid=15126347379200" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_15126347379200')">华熙地产</a>
            <a href="/zufang/?pagetype=area&amp;qiyeid=15126353422848" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_15126353422848')">金色时光房产</a>
            <a href="/zufang/?pagetype=area&amp;qiyeid=41724469616" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_41724469616')">易合房地产</a>
            <a href="/zufang/?pagetype=area&amp;qiyeid=15126350464512" rel="nofollow" onclick="clickLog('from=fcpc_list_bj_Pingpai_15126350464512')">兴商房地产</a>
        </dd>
    </dl>
</div>


<div ng-show="!houses" class="text-center">
    <img src="http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/67/gangnamstyle_thumb.gif"> 疯狂加载中...
</div>


<div ng-show="houses">
    <div class="row" ng-repeat="house in houses track by $index" ng-init="rowid=$index">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <a target="_blank" href="{{house.url}}">
                            <span class="glyphicon glyphicon-bookmark"></span>
                            <strong>{{($index+1)+(page_num-1)*5}}. {{house.name}}</strong>
                        </a>
                        <!--<span ng-show="house.sim.length" ng-click="showDetails = !showDetails" ng-init="showDetails=false" class="label label-primary">{{house.sim.length}}条相似内容 <span ng-class="{true:'glyphicon glyphicon-chevron-up', false:'glyphicon glyphicon-chevron-down'}[showDetails]"></span></span>-->
                        <span class="pull-right">{{house.pub_time}}</span>
                    </div>
                </div>
            </div>
            <!--
            <div ng-show="showDetails" class="panel-heading" ng-repeat="sim in house.sim">
                <div class="row">
                    <div class="col-lg-12">
                        <a target="_blank" href="{{sim.2}}">[相似内容] {{sim.1}}</a>
                        <span class="pull-right">{{sim.3}}</span>
                    </div>
                </div>
            </div>
            -->
            <div class="panel-body div-ellipsis">{{house.text}}</div>

            <hr style="margin: 0px;">
            <div class="panel-body">
                <p ng-if="house.dizhi.length"><span class="glyphi  glyphicon-map-marker"></span> <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s{{('&wd='+dizhi) | escape}}" target="_blank" ng-repeat="dizhi in house.dizhi">{{dizhi}} </a></p>
                <p ng-if="house.name"><span class="glyphicon glyphicon-road"></span>{{house.name}}</p>
                <p ng-if="house.space"><span class="glyphicon glyphicon-road"></span>{{house.space}}</p>
                <p ng-if="house.price"><span class="glyphicon glyphicon-usd"></span> {{house.price}}</p>
                <p ng-if="house.struct"><span class="glyphicon glyphicon-home"></span> {{house.struct}}</p>
                <p ng-if="house.shouji"><span class="glyphicon glyphicon-earphone"></span> {{house.shouji}}</p>
                <p ng-if="house.links.length"><span class="glyphicon glyphicon-link"></span> <a target="_blank" href="{{link}}" ng-repeat="link in house.links">{{link}}</a></p>
                <p ng-if="house.imgList.length"><span class="glyphicon glyphicon-picture"></span>
                    <a data-fancybox-group="fancy-group-{{rowid}}" class="fancy-image" target="_blank" href="{{image}}" ng-repeat="image in house.imgList">
                        <img ng-src="{{image}}" style="height: 30px;"/>
                    </a>
                    <!--<a data-fancybox-group="fancy-group-{{rowid}}" class="fancy-image" target="_blank" href="{{image.0}}" title="{{image.1}}" ng-repeat="image in house.imgList">-->
                        <!--<img ng-src="{{image.0}}" err-src="/static/img/default_image.png" style="height: 30px;">-->
                    <!--</a>-->
                </p>
                <!--<p ng-if="house.confidence>-1"><span class="glyphicon glyphicon-star"></span> {{house.confidence}}</p>-->
            </div>
        </div>
    </div>

    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <a ng-disabled="page_prev==-1" href="#/search/{{query}}/{{page_prev}}" type="button" class="btn btn-default">上一页</a>
        </div>
        <div class="btn-group">
            <a ng-disabled="page_next==-1" href="#/search/{{query}}/{{page_next}}" type="button" class="btn btn-default">下一页</a>
        </div>
    </div>

</div>
